<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 columns"></div>
      <div class="large-8 columns">
        <div class="panel">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nemo nisi aliquam, at velit necessitatibus repellat, quas id ea quia et voluptatem fuga tempora, magni.
        </div>
      </div>
    </div>
  </div>
</div>
