<% content_for(:hero) do %>
  <%= image_tag("mountains_crop_2.jpg") %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel main-header">
      <h4 class="main-title">Adventur</h4>
      <p class="main-subtitle">Trip Planning for Backcountry Adventurers</p>
    </div>
  </div>

  <div class="medium-4 columns">
    <div class="panel main-desc">
      <%= image_tag("icons/Rucksack-50.png") %>
      <p>Find fellow backpackers</p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel main-desc">
      <%= image_tag("icons/Campfire-50.png") %>
      <p>Collaboratively plan trips</p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel main-desc">
      <%= image_tag("icons/Camping Tent-50.png") %>
      <p>Review parks and trails</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel main-body">
      <p>
        Aliquam erat volutpat. Donec tincidunt gravida orci, vel finibus erat porttitor quis. Etiam rutrum neque at nisl iaculis, a sodales enim molestie. Duis placerat quam a tortor suscipit, vitae elementum neque ultricies. Vestibulum sodales ligula in semper posuere. Donec leo dolor, eleifend sit amet sagittis vel, commodo quis mi. Nam magna nisl, venenatis vitae metus ac, consectetur auctor purus. Donec erat erat, blandit id erat dapibus, luctus porta lectus. Suspendisse vehicula mauris mauris, vitae commodo magna faucibus vitae. Mauris vulputate enim ac ultrices fringilla. Aliquam ac mi sodales, feugiat ligula ut, efficitur purus. Quisque blandit, arcu eu porta egestas, orci diam tristique nulla, in consectetur turpis nisl ac nibh.
      </p>
      <p>
        Donec porta tincidunt dui, eu lobortis mauris placerat nec. Nunc vulputate purus ac dui vehicula, quis pharetra lorem congue. Aenean suscipit sem et quam auctor maximus. Curabitur diam mi, dapibus et porta vel, venenatis ut purus. Pellentesque vehicula metus velit, quis mollis enim aliquam in. Suspendisse at ullamcorper nunc. Aliquam tristique pellentesque ante sagittis ultrices. Donec quis quam imperdiet erat mollis volutpat. Quisque sit amet diam et nulla porttitor convallis vitae vitae turpis. Nulla pellentesque dolor a iaculis dignissim. Sed aliquam nulla in augue semper, vitae vulputate ligula rhoncus. Nullam aliquet eros id nunc lobortis, sit amet maximus sem luctus.
      </p>
      <p>
        Vestibulum ut tincidunt turpis, eget ornare ipsum. Pellentesque eu maximus massa. Duis finibus maximus elit et varius. Etiam dictum tincidunt eros eget iaculis. Vivamus vulputate tincidunt tempor. Phasellus sagittis ex vitae ipsum ultricies sodales. Fusce lorem purus, consectetur quis hendrerit id, laoreet non urna. Nam congue arcu in elit fringilla maximus. Suspendisse vitae lectus tellus. Donec euismod velit et mi suscipit, vitae sodales ligula ultrices. Nulla rhoncus dictum dignissim. Mauris lacinia mollis libero, quis cursus justo pulvinar ac.
      </p>
      <p>
        Vivamus quis diam scelerisque, eleifend dui cursus, tristique eros. Donec interdum sit amet ante sed varius. Etiam lacus ligula, volutpat eu est faucibus, efficitur euismod sapien. Mauris ultricies justo et sollicitudin feugiat. Vivamus ac tellus aliquam, consectetur enim vel, euismod dui. Morbi feugiat, enim vitae hendrerit ullamcorper, massa est faucibus urna, in fermentum nulla tellus molestie nisl. Morbi ultrices libero a dapibus volutpat. Donec ac purus non quam sodales maximus. Donec in faucibus eros, ultricies porttitor erat. Aliquam sit amet suscipit sapien. Maecenas vel euismod ex. Integer et justo imperdiet, aliquet lorem in, consectetur magna. Morbi odio lectus, auctor quis diam non, lacinia ornare arcu.
      </p>
    </div>
  </div>
</div>
