<div class="row">
  <div class="large-8 columns">
    <div class="panel main-header">
      <h4 class="main-title">Adventur</h4>
      <p class="main-subtitle">Trip Planning for Backcountry Adventurers</p>
    </div>
  </div>
</div>
