.main-header {
  text-align: center;
  background-color: rgb(220, 244, 228);
  border-left-color: white;
  border-right-color: white;
}

.main-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
}

.main-subtitle {
  font-family: 'Dancing Script', cursive;
  font-size: 1.1em;
}

.main-desc {
  font-family: Palatino, serif;
  font-size: 2.1em;
  font-weight: 400;
  text-align: center;
    background-color: rgb(249, 251, 250);
  color: black;
  border-color: white;
  border-bottom-color: rgb(186, 188, 196);
  border-radius: 9px;
}

.main-body {
  background-color: white;
  border-color: white;
}
